<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Staff Manage</title>
</head>

<body class = "bg" >
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ATN Homepage</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Management
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Staff">Staff</a></li>
          <li><a href="/Product">Product</a></li>
        </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-right" action="/Staff/searchStaff" method="POST">
      <div class="form-group">
        <input type="text" name ="nameStaff" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-success" value="Search">Search</button>
    </form>
  </div>
</nav>

    
    <br> <br>
    <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr class="info">
            {{!-- <td style="text-transform: uppercase">ID</td> --}}
            <td style="text-transform: uppercase">Employee's Name</td>
            <td style="text-transform: uppercase">Gen</td>
            <td style="text-transform: uppercase">Phone Number</td>
            <td style="text-transform: uppercase">Email</td>
            {{!-- <td style="text-transform: uppercase">Update</td> --}}
            <td style="text-transform: uppercase">Delete</td>
        </tr>
      </thead>
      <tbody>
        {{# each Staff}}
        <tr>
            {{!-- <td>{{_id}}</td> --}}
            <td>{{Name}}</td>
            <td>{{Gen}}</td>
            <td>{{Number}}</td>
            <td>{{Email}}</td>  
            {{!-- <td><a href="/Employee/editE?id={{_id}}" class="btn btn-primary">Update</a></td> --}}
            <td><a href="/Staff/deleteStaff?id={{_id}}" class="btn btn-danger">Delete</a></td>
        {{/each}}
      </tbody>
    </table>
    <br> <br>
    <form action="/Staff/insertStaff" method="POST">
    <div class="form-group" style="width: 50%">
      <label for="usr">Name</label>
      <input type="text" class="form-control" id="usr" name="nameStaff">
    </div>
    <div class="form-group" style="width: 50%">
      <label for="pwd">Gen</label>
      <input type="text" class="form-control" id="pwd" name="gen">
    </div>
    <div class="form-group" style="width: 50%">
      <label for="pwd">Phone Number</label>
      <input type="text" class="form-control" id="pwd" name="number">
       {{!-- <label for ="" style="color:red">{{number.numberError}}</label>  --}}
    </div>
    <div class="form-group" style="width: 50%">
      <label for="pwd">Email</label>
      <input type="text" class="form-control" id="pwd" name="email">
      {{!-- <label for ="" style="color:red">{{email.emailError}}</label> --}}
    </div>
    <input type="submit" value="Add employee" class="btn btn-success">
  </form>
  </div>
</body>
</html>